body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Cardc-container {
  display: flex;
  max-width: 100%;
  height: 565px;
  flex-direction: column;
  box-shadow: 1px 1px 0px 0 #EEEEEE;
}

.Cardc-container .wml {
  font-size: 2.5em;
  font-weight: 300;
  margin-top: 2.3em;
  margin-left: 1.3em;
}


.Cardc-container_line {
  display: block;
  width: 70px;
  height: 3.5px;
  background-color: #F85C70;
  margin-left: 3.5em;
} 

.grid_container{
  display: grid;
  grid-template-columns: 10% 90%;
}


.image-column, .img1{
  width: 2em;
  height: 2em;
  margin-top: 1.5em;
  margin-left: 1.5em;
}
.image-column, .img2{
  width: 2em;
  height: 2em;
  margin-top: 3em;
  margin-left: 1.5em;
}

.image-column, .img3{
  width: 2em;
  height: 2em;
  margin-top: 3em;
  margin-left: 1.5em;
}
.text-column{
  margin-top: 1em;
  margin-left: 1em;
}

.text-column,.text1 {
  margin-top: 3em;
  margin-left: 3em;
}
.text-column,.text2 {
  margin-top: 1em;
  margin-left: 3em
}
.text-column,.text3 {
  margin-top: 1em;
  margin-left: 3em;
}

/* 
.cardc_sub-container,
.imgplustext1 {

  
  max-width: 100%;

}

.imgplustext1,
img {
  display: inline-block;
  width: 2em;
  height: 2em;
}

.imgplustext1,
.text1 {

  display: inline-block;
}

.cardc_sub-container,
.imgplustext2 {

  
  
  max-width: 100%;

}

.imgplustext2,
img {
  display: inline-block;
  width: 2em;
  height: 2em;
}

.imgplustext2,
.text2 {

  display: inline-block;
}



.cardc_sub-container,
.imgplustext3 {


  flex-wrap: wrap;
  max-width: 100%;

}

.imgplustext3,
img {
  display: inline-block;
  width: 2em;
  height: 2em;
}

.imgplustext3,
.text3 {

  display: inline-block;
} */






















