body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* main heading */
    --main-heading-font-size: 1.2em;
    
    /* heading  */
    --heading-font-size: 1.2em;
    --heading-font-color: #F85C70;
    
    /* para styling  */
    --para-font-color: #747779;
    --para-font-size: 0.2em;
    
    /* Span styling */
    --main-heading-span-margin-left: 4.2em;
    --span-back-color: #F85C70;


    /* Section Styling */
    --section-heading-font-size: 1em;
    --section-heading-font-color: #F85C70;
    --section-ending-span-line-color: #DFDFDF;


    /* border styling */
    --box-border-color: #DFDFDF;


}

.repart3_main-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */

}

.repart3_main-container,.repart3_main-sub-container{
    display: flex;
    flex-direction: column;
    
    
    
}

.repart3_main-sub-container-para,
.repart3_main-container-mainheading {
    position: relative;
    font-size: var(--main-heading-font-size);
    font-weight: 400;
    color: black;
}



.repart3_main-container-span, .repart3_main-container-mainheading-line-1 {
    display: block;
    width: 40px;
    height: 1.5px;
    background-color: var(--span-back-color);
    margin-left: var(--main-heading-span-margin-left);
}



.skill_set-container{
    display: flex;
    flex-direction: column;
}


.status_container-heading-statusbar{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 2.6em;
}

.status_container-heading{

    display: flex;
}

.status_container-statusbar{
    display: flex;
}

.statusBar-heaading {
    color: var(--heading-font-color);
}






