body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  display: inline-block;
}

p {
  display: inline;
}

.Cardb-container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

.Cardb-container .wml {
  font-size: 2.5em;
  font-weight: 300;
  margin-top: 2.3em;
  margin-left: 1.3em;
}

.Cardb-container .Cardb-container_line {
  display: block;
  width: 70px;
  height: 3.5px;
  background-color: #F85C70;
  margin-left: 3.5em;
}

.Cardb-container .intro {
  width: 80%;
  font-size: 1.2em;
  color: #747779;
  margin-top: 2em;
  margin-left: 3em;

}

.sidebyside1,
h4,
p {
  display: inline-block;
  margin-top: 2.1em;
  margin-left: 0.8em;
  color: #747779;

}


.sidebyside2,
.sidebyside3,
.sidebyside4,
.sidebyside5 h4 {
  color: #747779;
}

.sidebyside2,
.sidebyside3,
.sidebyside4,
.sidebyside5,
h4,
p {
  display: inline-block;
  margin-top: 0.3em;
  margin-left: 0.8em;
  color: #747779;
}

.social-icons {

  display: flex;
  gap: 2em;
  margin-left: 1;
  margin-top: 2em;
  margin-left: 2em;

}

.social-icons img {

  width: 2em;
  height: 2em;
}